extends layout

block content
  .jumbotron
    .container
      .row
        .col-md-7
          h1 Computer Not Working?
          p
            | Is you computer running slow? or maybe not at all? Call us for a quick and easy quote
          p
            a.btn.btn-primary.btn-lg(href='#') Read more
        .col-md-5
          img(src='images/mouse.png')
  .row
    .col-md-4
      .well
        h2 Hardware Problems?
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sed nisi nisi. Curabitur finibus semper lorem lobortis vestibulum. Praesent tristique ligula et sollicitudin finibus. Duis vel est velit. Integer a sollicitudin erat. Morbi facilisis massa nec dolor dapibus, in vehicula dui pretium
    .col-md-4
      .well
        h2 Software Problems?
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sed nisi nisi. Curabitur finibus semper lorem lobortis vestibulum. Praesent tristique ligula et sollicitudin finibus. Duis vel est velit. Integer a sollicitudin erat. Morbi facilisis massa nec dolor dapibus, in vehicula dui pretium
    .col-md-4
      .well
        h2 Pc Tune Up
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sed nisi nisi. Curabitur finibus semper lorem lobortis vestibulum. Praesent tristique ligula et sollicitudin finibus. Duis vel est velit. Integer a sollicitudin erat. Morbi facilisis massa nec dolor dapibus, in vehicula dui pretium
